    /*CONTEÚDO*/
    
    .section-home {
        max-width: 1300px;
        width: 100%;
        height: 100vh;
        border-top: 1px solid var(--color-purple-ligth);
        background-image: url(../img/png/fundo-home.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    
    .img-home>img {
        width: 420px;
        height: 530px;
        margin-top: 220px;
    }
    
    .card-sec-container {
        max-width: 1300px;
        width: 100%;
        height: 400px;
        margin-top: 50px;
        margin-right: 80px;
    }
    
    .card-sec-container-content {
        max-width: 1300px;
        width: 90%;
        margin: 22px auto;
        height: 350px;
        border-radius: 25px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--transparent-strokes);
        padding: 0 60px;
    }
    
    .title-card-sec {
        color: var(--text-white);
        font-size: 2.5em;
    }
    
    .subtitle-card-sec {
        color: var(--text-white);
        font-size: 1.9em;
        margin-top: 35px;
    }
    
    .buttons {
        display: flex;
        gap: 50px;
        margin-top: 40px;
        justify-content: center;
    }
    
    .btn-link-home {
        width: 220px;
        height: 40px;
        font-size: 1.3em;
    }
    
    @media screen and (max-width: 1023px) {
        .section-home {
            height: 100vh;
        }
        .card-sec-container {
            width: 100%;
            height: 360px;
            margin-right: 80px;
        }
        .card-sec-container-content {
            width: 85%;
            height: 85%;
            text-align: center;
        }
        .title-card-sec {
            font-size: 2em;
        }
        .subtitle-card-sec {
            font-size: 1.2em;
        }
        .img-home>img {
            width: 300px;
            height: 400px;
            margin-top: 200px;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 30px;
            justify-content: center;
        }
        .btn-link-home {
            width: 370px;
            height: 33px;
            font-size: 1.1em;
        }
    }
    
    @media screen and (max-width: 768px) {
        .section-home {
            width: 100%;
            height: 100vh;
            flex-direction: row;
            justify-content: space-around;
        }
        .card-sec-container {
            margin: 0 auto;
            position: absolute;
        }
        .card-sec-container-content {
            width: 60%;
            height: 80%;
            margin-top: 60px;
            margin-right: 50px;
            text-align: center;
            padding: 0 25px;
        }
        .title-card-sec {
            text-align: center;
            margin-top: -10px;
            font-size: 1.5em;
        }
        .subtitle-card-sec {
            text-align: center;
            margin-top: 30px;
            letter-spacing: 1.2px;
            font-size: 1.2em;
        }
        .img-home>img {
            width: 260px;
            height: 300px;
            margin-top: 200px;
            margin-right: 350px;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-top: 35px;
            justify-content: center;
        }
        .btn-link-home {
            width: 255px;
            height: 35px;
            font-size: 1.1em;
            color: rgb(0, 183, 255);
        }
    }
    
    @media screen and (max-width: 425px) {
        .section-home {
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: space-around;
        }
        .card-sec-container {
            margin: 0 auto;
            position: absolute;
        }
        .card-sec-container-content {
            width: 85%;
            height: 90%;
            margin-top: -40px;
            margin-left: 30px;
            text-align: center;
            padding: 0 50px;
        }
        .title-card-sec {
            text-align: center;
            margin-top: -4px;
            font-size: 1.5em;
        }
        .subtitle-card-sec {
            text-align: center;
            margin-top: 20px;
            font-size: 1.2em;
        }
        .img-home>img {
            width: 280px;
            height: 350px;
            margin: 590px 0 0 25px;
            position: relative;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 35px;
            justify-content: center;
        }
        .btn-link-home {
            width: 205px;
            height: 35px;
            padding: 5px;
            font-size: 1.1em;
            color: rgb(255, 115, 0);
        }
    }
    
    @media screen and (max-width: 375px) {
        .section-home {
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: space-around;
        }
        .card-sec-container {
            margin: 0 auto;
            position: absolute;
        }
        .card-sec-container-content {
            width: 80%;
            height: 85%;
            margin-top: -20px;
            margin-left: 30px;
            text-align: center;
            padding: 0 25px;
        }
        .title-card-sec {
            text-align: center;
            margin-top: -5px;
            font-size: 1.4em;
        }
        .subtitle-card-sec {
            text-align: center;
            margin-top: 20px;
            font-size: 1.1em;
        }
        .img-home>img {
            width: 250px;
            height: 300px;
            margin: 550px 0 0 25px;
            position: relative;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 15px;
            justify-content: center;
        }
        .btn-link-home {
            width: 195px;
            height: 32px;
            font-size: 1em;
            line-height: 30px;
            color: rgb(0, 255, 76);
        }
    }
    
    @media screen and (max-width: 320px) {
        .section-home {
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: space-around;
        }
        .card-sec-container {
            margin: 0 auto;
            position: absolute;
        }
        .card-sec-container-content {
            width: 80%;
            height: 85%;
            margin-top: -20px;
            text-align: center;
            padding: 0 25px;
        }
        .title-card-sec {
            text-align: center;
            margin-top: -5px;
            font-size: 1.4em;
        }
        .subtitle-card-sec {
            text-align: center;
            margin-top: 20px;
            font-size: 1.1em;
        }
        .img-home>img {
            width: 170px;
            height: 200px;
            margin: 470px 0 0 25px;
            position: relative;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 15px;
            justify-content: center;
        }
        .btn-link-home {
            width: 195px;
            height: 32px;
            font-size: 1em;
            line-height: 30px;
            color: rgb(76, 0, 255);
        }
    }