    /*CONTEÚDO*/
    
    .section-home {
        max-width: 1400px;
        width: 100%;
        height: 100vh;
        border-top: 1px solid var(--color-purple-ligth);
        background-image: url(../img/png/fundo-home.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    
    .img-home>img {
        width: 470px;
        height: 600px;
        margin-top: 110px;
    }
    
    .card-sec-container {
        max-width: 1300px;
        width: 100%;
        height: 400px;
        margin-right: 80px;
        margin-top: 100px;
    }
    
    .card-sec-container-content {
        max-width: 1300px;
        width: 90%;
        margin: 22px auto;
        height: 350px;
        border-radius: 25px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--transparent-strokes);
        padding: 0 80px;
    }
    
    .title-card-sec {
        color: var(--text-white);
        font-size: 2.5em;
    }
    
    .subtitle-card-sec {
        color: var(--text-white);
        font-size: 1.9em;
        margin-top: 35px;
    }
    
    .buttons {
        display: flex;
        gap: 50px;
        margin-top: 40px;
        justify-content: center;
    }
    
    .btn-link-home {
        width: 220px;
        height: 40px;
        font-size: 1.3em;
    }
    
    @media screen and (max-width: 1023px) {
        .section-home {
            height: 150vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .card-sec-container {
            width: 100%;
            margin-left: 80px;
            margin-top: 300px;
        }
        .card-sec-container-content {
            width: 80%;
            height: 400px;
        }
        .title-card-sec {
            font-size: 2.3em;
        }
        .subtitle-card-sec {
            font-size: 1.7em;
        }
        .img-home>img {
            width: 270px;
            height: 400px;
            margin-top: 50px;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 30px;
            justify-content: center;
        }
        .btn-link-home {
            width: 400px;
            height: 33px;
            font-size: 1.1em;
        }
    }
    
    @media screen and (max-width: 530px) {
        .section-home {
            height: 100vh;
        }
        .card-sec-container-content {
            width: 90%;
            height: 48vh;
            margin-top: -50px;
            padding: 0 40px;
            text-align: center;
        }
        .title-card-sec {
            margin-top: -5px;
            font-size: 1.7em;
        }
        .subtitle-card-sec {
            text-align: start;
            margin-top: 20px;
            letter-spacing: 1.5px;
            font-size: 1.3em;
        }
        .img-home>img {
            width: 220px;
            height: 360px;
            margin-top: -15px;
            margin-left: 50px;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-top: 25px;
            justify-content: center;
        }
        .btn-link-home {
            width: 270px;
            height: 33px;
            font-size: 1.1em;
            color: yellow;
        }
    }