/*Header e Navegação*/

header.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    position: fixed;
    height: 13vh;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid var(--transparent-strokes);
}

.logoheader {
    width: 200px;
    height: 45px;
    margin-left: 4%;
    cursor: pointer;
    filter: drop-shadow(rgba(255, 0, 0, 0.16) 0px 1px 1px), brightness(0);
    transition: .3s ease all;
}

.logoheader:hover {
    filter: brightness(1.4);
}

.nav {
    width: 670px;
    height: 60px;
    margin-right: 1%;
    line-height: 60px;
    display: flex;
}

.nav-item {
    display: flex;
    gap: 65px;
}

.nav-itens img {
    height: 28px;
    width: 28px;
    margin-left: -33px;
    margin-top: 8px;
    position: absolute;
}

.nav-itens a {
    font-size: 1.4em;
    cursor: pointer;
    color: var(--text-white);
}

.nav button.btn-link {
    width: 175px;
    height: 38px;
    background-color: transparent;
    border: .1em solid var(--color-purple-ligth);
    color: var(--text-white);
    font-size: .9em;
    margin-top: 12px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav button.btn-link::before {
    content: '';
    background: url(../img/png/email.png) no-repeat center / contain;
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
}

.nav button.btn-link:hover {
    color: var(--color-purple-ligth);
    background-color: var(--text-white);
    border: var(--text-white);
    font-size: 1em;
}


/*Menu-Mobile*/

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s ease all;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background-color: #ff0000;
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background-color: #ff0000;
}

@media screen and (max-width: 1000px) {
    .nav-item {
        position: absolute;
        top: 12vh;
        right: 0;
        width: 70vw;
        height: 100vh;
        margin-top: -56px;
        background-color: var(--bg-mainDark);
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-item .linkbtn {
        margin-right: 20px;
    }
    .nav-item .nav-itens {
        margin-left: 0;
        opacity: 0;
    }
    .nav-item .nav-itens:nth-child(1) {
        margin-left: 20px;
        opacity: 0;
    }
    .nav-item .nav-itens:nth-child(2) {
        margin-top: -50px;
        opacity: 0;
    }
    .nav-item .nav-itens:nth-child(3) {
        margin-top: -50px;
        margin-right: 17px;
        opacity: 0;
    }
    .nav-item a:hover {
        border-bottom: none;
    }
    .nav-item button.btn-link {
        width: 140px;
        margin-right: 55px;
        margin-top: -50px;
        border: none;
        opacity: 1;
        font-size: 1em;
    }
    .nav button.btn-link::before {
        content: '';
        background: url(../img/png/email.png) no-repeat center / contain;
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: -3px;
        margin-top: -12px;
        position: relative;
    }
    .nav-item button.btn-link:hover {
        transform: scale(1);
        background: none;
        color: var(--color-buttons-ligth);
    }
    .mobile-menu {
        display: block;
        position: absolute;
        margin-right: -80%;
        z-index: 1000;
        background: none;
    }
    .mobile-menu .line1 {
        background-color: rgb(232, 162, 11);
    }
    .mobile-menu .line2 {
        background-color: rgb(232, 162, 11);
    }
    .mobile-menu .line3 {
        background-color: rgb(232, 162, 11);
    }
    .nav-item.active {
        transform: translateX(0);
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 860px) {}

@media screen and (max-width: 760px) {}

@media screen and (max-width: 580px) {}

@media screen and (max-width: 450px) {}

@media screen and (min-width: 320px) {}